html{
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

body {
  margin:0;
  background: #fafafa;
}

.topbar {
  display:none;
}

.title {
  margin-bottom: 30px;
}

small {
  background: none !important;
  top: 3px !important;
}

pre {
  font-size: 16px !important;
  font-weight: inherit !important;
  margin: 20px 0!important;
  color: #000000!important;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif!important;
  padding: 0 0 0 0!important;
  background-color: none !important;
}

pre.version {
  border-radius: 50%;
  background: #162036;
  font-size: 10px;
  padding: 5px;
}
